h1 {
    font-family: "San Francisco", sans-serif;
    font-size: 100px; 
    font-weight: bold;
    color: black;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
