// Desktop
$font_size_h1-desktop: 120px;
$font_size_h2-desktop: 30px;
$font_size_p-desktop: 16px;


// Mobile
$font_size_h1-mobile: 70px;
$font_size_h2-mobile: 30px;
$font_size_p-mobile: 16px;


// Font-Weight
$font_weight_h1: 100;
$font_weight_h2: 200;
$font_weight_p: 200;


// Colors
$color-h1-h2-p: rgb(209, 209, 209);
$color-white: rgb(255, 255, 255);
