@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;


.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alignement en haut */
    max-width: 1200px;
    margin: 20px auto; /* Marge autour du contenu */
    padding: 0 20px; /* Espacement intérieur */
}


