@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;


body {
    background-color: #10162Aff;
}

.container {
    max-width: 1200px; 
    max-height: 800px;
    margin: auto;
    margin-top: calc((100vh - 600px) / 2); 
    border: 2px solid #ccc; 
}

header, .content, footer {
    padding: 40px;
}

