@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;


.presentation {
    text-align: left;
    max-width: 600px;
    padding: 20px;
    color: white;
    transition: transform 0.5s;

    h1 {
        font-size: $font_size_h1-desktop;
        
    }

    p {
        font-size: $font_size_p-desktop;
    }
}

.description {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.description.active {
    transform: translateX(0);
}
