@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;



.projects {
    text-align: left;

    h2 {
        margin-bottom: 10px;
        font-size: $font_size_h2-desktop;
        font-weight: $font_weight_h2;
        color: $color-h1-h2-p;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 8px;

            a {
                text-decoration: none;
                color: $color-list_projects;
                font-size: $font_size_p-desktop;
                font-weight: $font_weight_p;
            }
        }
    }

}
