@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;

.projects {
    text-align: left;
    margin-left: 200px;

    @media screen and (max-width: 1068px) {
        margin-left: 0px;
    }

    h2 {
        margin-bottom: 10px;
        font-size: $font_size_h2-desktop;
        font-weight: $font_weight_h2;
        color: $color-h1-h2-p;
    }



    ul {
        list-style-type: none;
        padding: 0;
        margin-left: 20px;
        margin-top: 20px;
        border-left: 1px solid white;

        li {
            margin-bottom: 20px;
            padding-left: 30px;

            a {
                color: $color-h1-h2-p;
                font-size: $font_size_p-desktop;
                font-weight: $font_weight_p;
                text-decoration: none;
                transition: font-size 0.3s, color 0.3s;


                &:hover {
                    font-size: 110%; 
                    color: $color-white;
                }

                position: relative; 

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    bottom: -3px; 
                    left: 0;
                    background-color: $color-white;
                    transform: scaleX(0);
                    transform-origin: top left;
                    transition: transform 0.4s ease;
                }

                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }
}


.projects ul li a[href*='Achaka Conseils'],
.projects ul li a[href*='Conquest of Kingdoms'],
.projects ul li a[href*='Mongoo'],
.projects ul li a[href*='Homepod mini'] {
    font-size: 14px; /* Changer la taille du texte des liens spécifiques des projets */
}
