@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;

footer {
    display: flex;
    justify-content: flex-end;
    right: 20%; /* 20% du bord droit */
    bottom: 20%; /* 20% du bas */
    padding: 10px;
    color: white;
}

