@use '../utils/_typos.scss' as *;
@use '../variables/_variables.scss' as *;

footer {
    display: flex;
    justify-content: flex-end;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    font-size: $font_size_p-desktop;
    color: $color-h1-h2-p;
    margin-top: 80px;
    
}




